{% extends "base.html "%}
{% load static %}

{% block content %}
<div class="container-fluid py-5"  id="about-box">
    <div class="row mx-auto">
        <div class="col-8 offset-2 light-font my-4 mx-auto">
            <div class="row mx-auto text-center">
                <h4>This page presents work of Tomasz Zowada who is based in Upper Silesia  - South Poland.</h4>
                <p>
                    Photos were taken mainly in this area as author wants to show that this part of the country is not
                    limited to industrialised and post-industral landscapes. Beauty spots, beautiful forests, 
                    vast meadows, picturesque places are widespread there.
                </p>
                <p>
                    His passion is not limited to shooting Upper Silesia though. Whenever the opportunity 
                    presents itself he travels across Poland to seek interesting places and colorful landscapes.
                    All content presented here is exactly what was spotted by Tomasz Zowada through his camera lens.
                </p>
            </div>    

        </div>
    </div>
</div>
{% endblock %}