{% extends "base.html" %}
<!-- Customisation of page appearance. -->
{% load static %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<!-- Index page carousel -->
<div class="container-fluid mt-5 mb-5" id="page-content">
<div class="row ">
        {% include 'components/carousel.html' %}
</div>
<!-- Introduction to the web content -->
<div class="row text-center">
        <div class="col-10 offset-1 text-center py-2">
                <h4 class="dark-font font-weight-bold pt-2">Upper Silesia - the other perspective.</h4>
                <p> When asked about this part of Poland most people think about mining,
                        iron or steel industry.
                        Despite this photos show that Upper Silesa is not only as it seems -
                        industrialised towns and cities but also beauty spots, lovely forests
                        and picturesque meadows.</p>
                <p>However not all photographs on this page were taken in Upper Silesia...</p>
                <a href="{% url 'about' %}" type="button" class="btn back-btn border-dark">Read more</a>


        </div>
</div>
<div class="row text-center mb-1">
        <div class="col-10 offset-1 text-center py-2 mt-2">
                <div class="row justify-content-center mb-3">
                        <div id="index-sm-img1" class="col-sm-5 col-lg-3 w-100 m-2 index-sm-image"></div>
                        <div id="index-sm-img2" class="col-sm-5 col-lg-3 w-100 m-2 index-sm-image"></div>
                        <div id="index-sm-img3" class="d-none d-lg-block col-lg-3 w-100 m-2 index-sm-image"></div>
                </div>
                <p class="font-weight-bold pt-2">All photos are available for prints - available to pick straight from
                        gallery.</p>
                <a type="button" class="btn blue-color dark-font font-weight-bold mt-2"
                        href="{% url 'all_products' %}">Order prints</a>
        </div>
</div>
</div>
{% endblock %}