{% extends "base.html" %}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <h4 class="dark-font">Contact us</h4>
    </div>
    <hr>
    <!-- Contact form. -->
    <div class="row">
        <div class="col-12">
            <form method="POST" class="px-5 pb-5">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ contact_form|crispy }}
                </fieldset>
                <div class="form-group mr-5 mb-5">
                    <button class="btn blue-color m-0 float-right" type="submit">Send message</button>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock %}