{% extends "base.html" %}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container mx-auto my-5" id="page-content">
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="text-info font-weight-bold">Contact us</h1>
        </div>
    </div>
    <!-- Quick info when to use the contact form. -->
    <div class="row">
        <div class="col-12">
            <p class="small">Submit this contact form if you have questions, comments or simply want to say hello.</p>
        </div>
    </div>
    <hr class="border-info">
  
    <!-- Contact form. -->
    <div class="row">
        <div class="col-12 pt-4">
            <form method="POST" class="px-4 py-2 secondary-bg-color">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ contact_form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-info btn-lg" type="submit">Send</button>
                </div>
            </form>
            <hr class="border-secondary">
            <div class="col-12">
                <p class="text-center">All requests sent will be addressed as soon as possible.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}