{% extends "base.html "%}
{% load static %}

{% block content %}
<div class="row text-center pt-5">

  <div class="col-md-6 col-sm-12">
      <div class="display-img-box">
        <img class="card-img" src="{{ product.product_image.url }}" alt="{{ product.title }}">
      </div>
  </div>
  <div class="col-md-6 col-sm-12 my-auto">
    <div class="col-12 text-center">
        <h2>{{ product.title }}</h2>
      </div>
    <div class="card-body">
        <p class="card-title">Picture was taken by Tomasz Zowada in <span class="font-weight-bold">{{ product.place }}</span>  in Poland.</p>
        <p>
            <ul class="list-unstyled">All pictures are available for prints in sizes:
              {% for priced_size in priced_sizes %}


              <li>{{ priced_size.print_size }} only  £{{ priced_size.print_price }}</li>
              {% endfor %}

            </ul>
        </p>
        <p>
            <button type="button" class="btn blue-color dark-font font-weight-bold my-2">Add to cart</button>
        </p>
      </div>
  </div>

</div>
 
</div>
{% endblock %}