{% extends "base.html "%}
{% load static %}

{% block content %}
<div class="row text-center pt-5">

  <div class="col-md-6 col-sm-12 py-3">
      <div class="display-img-box">
        <img class="card-img" src="{{ product.product_image.url }}" alt="{{ product.title }}">
      </div>
  </div>
  <div class="col-md-6 col-sm-12 my-auto">
    <div class="col-12 text-center">
        <h2>{{ product.title }}</h2>
      </div>
    <div class="card-body">
        <p class="card-title">Picture was taken by Tomasz Zowada in <span class="font-weight-bold">{{ product.place }}</span>  in Poland.</p>
        <p>
            <ul class="list-unstyled">All pictures are available for prints in sizes:
              {% for priced_size in priced_sizes %}
              <li>{{ priced_size.print_size }} - only  £{{ priced_size.print_price }}
              </li>
              {% endfor %}
            </ul>
        <p>
          <form type="form" method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="form-row text-center">


              <div class="col-12">
                  <p class="mt-2"><strong>Quantity:</strong></p>
                  <div class="form-group w-25 mx-auto">
                      <div class="input-group">
                          <input class="form-control qunantity-input" type="number" name="qty" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                      </div>
                  </div>
                  <input type="submit" class="btn blue-color dark-font font-weight-bold" value="Add to Cart">
                  <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>

          </div>
          </form>

      </div>
  </div>

</div>
 
</div>
{% endblock %}