{% extends "base.html "%}
{% load static %}

{% block content %}
<div class="row text-center pt-5">

  <div class="col-md-6 col-sm-12">
      <div class="display-img-box">
        <img class="card-img" src="{{ product.product_image.url }}" alt="{{ product.title }}">
      </div>
  </div>
  <div class="col-md-6 col-sm-12 my-auto">
    <div class="col-12 text-center">
        <h2>{{ product.title }}</h2>
      </div>
    <div class="card-body">
        <p class="card-title">Picture was taken by Tomasz Zowada in <span class="font-weight-bold">{{ product.place }}</span>  in Poland.</p>
        <p>
            <ul class="list-unstyled">All pictures are available for prints in sizes:
                <li >2A0 | 118.9 x 168.2 cms | 46.8 x 66.2 in</li>
                <li> A0 | 84.1 x 118.9 cms | 33.1 x 46.8 in</li>
                <li>A1 | 59.4 x 84.1 cms | 23.4 x 33.1 in</li>
                <li>A2 | 42.0 x 59.4 cms | 16.5 x 23.4 in</li>
                <li>A3 | 29.7 x 42.0 cms | 11.7 x 16.5 in</li>
            </ul>
        </p>
        <p>
            <button type="button" class="btn blue-color dark-font font-weight-bold my-2">Add to cart</button>
        </p>
      </div>
  </div>

</div>
 
</div>
{% endblock %}