{% extends "base.html "%}
{% load static %}

{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="row pt-5">
  <div class="col-12 pt-3 text-center">
    {% if query %}
    <h2>Search results for: {{ query }}</h2>
    {% endif %}
  </div>
</div>
<div class="row mt-4 text-center">
  {% for product in products %}
  <div class="col-lg-3 col-md-4 align-self-end">
    <div id="product-card" class="align-items-center justify-content-around my-2">
      <div id="card-image-box" class="align-items-center justify-content-center d-flex">
          <a href="{{ product.get_absolute_url }}">
              <img class="card-img" src="{{ product.product_image.url }}" alt="{{ product.title }}">
          </a> 
      </div>
  </div>
   
  </div>
  {% endfor %}
</div>

{% endblock %}