{% extends "base.html" %}
<!-- Customisation of page appearance. -->
{% load static %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<!-- Header content customised depending on the product category chosen -->
<div class="container-fluid mt-5">
  <div class="row pt-5 pb-3">
    <div class="col-12 text-center">
      {% if group %}
      <h1 class="text-info">{{ group }}</h1>
      {% endif %}
    </div>
  </div>
  <!-- Products/photos list -->
  <div class="row mt-4 text-center">
    {% for object in object_list %}
    <div class="col-lg-3 col-md-6 align-self-end">
      <div class="p-1 align-items-center justify-content-around my-2">
        <div class="align-items-center justify-content-center d-flex">
          <a href="{{ object.get_absolute_url }}">
            <img class="card-img" src="{{ object.product_image.url }}" alt="{{ object.title }}">
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Pagination code written by Corey Schafer - 
  https://www.youtube.com/watch?v=acOktTcTVEQ&t -->
  <div class="row mb-5 justify-content-center">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn border-secondary m-3" href="?page=1">First</a>
    <a class="btn border-info m-3" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info m-3" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page.obj.number|add:'-3' and num < page.obj.number|add:'3' %}
    <a class="btn border-info m-3" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn border-info m-3" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn border-secondary m-3" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}