@import url("https://fonts.googleapis.com/css2?family=Galada&family=Lato&display=swap");
/* Variables */
/* Page body */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 16px;
  background-color: #fdfdff;
  color: #000;
  font-family: 'Lato', sans-serif;
}

/* Background and font classes */
.dark-mode {
  background-color: #393d3f;
  color: #fff;
}

.primiary-bg-color {
  background-color: #fdfdff;
}

.secondary-bg-color {
  background-color: #706f5c;
}

.tertiary-bg-color {
  background-color: #393d3f;
}

.blue-color {
  background-color: #758ecd;
}

.light-font {
  color: #fff;
}

.dark-font {
  color: #000;
}

/* Navbar */
#nav-row {
  background-color: #fdfdff;
}

.nav-link,
.nav-link:hover,
.nav-link:visited {
  color: #000;
}

.brand-name {
  font-family: 'Galada', sans-serif;
}

/* Index page carousel */
.index-carousel-item {
  height: 72vh;
  width: 100vw;
}

#carousel-img-1 {
  background-image: url("https://i.ibb.co/wLsDcSz/INSTA15.jpg");
  background-position: center center;
}

#carousel-img-2 {
  background-image: url("https://i.ibb.co/H7dnvT9/INSTA20.jpg");
  background-position: center center;
}

#carousel-img-3 {
  background-image: url("https://i.ibb.co/R43p1xb/INSTA9.jpg");
  background-position: center 80%;
}

.carousel-image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
