<footer class="container-fluid fixed-bottom">
<div class="row mt-2 secondary-bg-color" id="footer-info">
  <div class="col-sm-12 col-lg-4 my-auto">
    <p class="my-auto">This project is for educational purposes only.</p>
  </div>
  <div class="col-sm-12 col-lg-4 text-center my-1">
     <a href="https://www.instagram.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener"><i
         class="d-inline footer-icon fab fa-instagram px-2"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank" aria-label="Find us on Facebook" rel="noopener">
        <i class="d-inline footer-icon fab fa-facebook-f px-2"></i>
      </a>
      <a href="https://www.twitter.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener">
        <i class="d-inline footer-icon fab fa-twitter px-2"></i>
      </a>
  </div>
  <div class="col-sm-12 col-lg-4 text-right my-auto">
    <small>© 2020 Copyright MalC-U all rights reserved</small>
    <a href="https://github.com/malc-u" target="_blank" aria-label="Find us on Github" rel="noopener">
        <i class="fab  footer-icon fa-github px-2"></i>
    </a>
  </div>
</div>
<div id="author-banner" class="row text-center">
  <div class="col tertiary-bg-color light-font">
      <p class="my-auto">Landscape photography by T. Zowada</p>                
  </div>            
</div>
</footer>