<!-- Footer -->
<footer class="container-fluid fixed-bottom">
  <!-- Top section of the footer -->
  <div class="row mt-2 secondary-bg-color" id="footer-info">
    <div class="col-sm-12 col-lg-4 footer-text">
      This project is for educational purposes only.
    </div>
    <div class="col-sm-12 col-lg-4 text-center footer-text">
      <a href="https://www.instagram.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener"><i
          class="d-inline footer-icon fab fa-instagram px-2"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank" aria-label="Find us on Facebook" rel="noopener">
        <i class="d-inline footer-icon fab fa-facebook-f px-2"></i>
      </a>
      <a href="https://www.twitter.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener">
        <i class="d-inline footer-icon fab fa-twitter px-2"></i>
      </a>
    </div>
    <div class="col-sm-12 col-lg-4 text-right footer-text">
      © 2020 Copyright MalC-U all rights reserved
      <a href="https://github.com/malc-u" target="_blank" aria-label="Find us on Github" rel="noopener">
        <i class="fab footer-icon fa-github px-2"></i>
      </a>
    </div>
  </div>
  <!-- Bottom section of the footer -->
  <div id="author-banner" class="row text-center">
    <div class="col tertiary-bg-color light-font footer-text">
      Landscape photography by T. Zowada
    </div>
  </div>
</footer>