<div class="row">
    <div class="col-sm-12 col-lg-4"><p>This project is for educational purposes only.</p></div>
    <div class="col-sm-12 col-lg-4 text-center">        
    <a href="https://www.instagram.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener"><i class="d-inline footer-icon fab fa-instagram px-2"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank" aria-label="Find us on Facebook" rel="noopener">
      <i class="d-inline footer-icon fab fa-facebook-f px-2"></i>
    </a>
    <a href="https://www.twitter.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener">
      <i class="d-inline footer-icon fab fa-twitter px-2"></i>
    </a></div>
    <div class="col-sm-12 col-lg-4 text-right">
        <small>© 2020 Copyright MalC-U all rights reserved</small>
      <a href="https://github.com/malc-u" target="_blank" aria-label="Find us on Github" rel="noopener">
        <i class="fab  footer-icon fa-github px-2"></i></a></div>
    </div>
</div>