<header class="container-fluid fixed-top">

    <div class="row" id="nav-row">
        <nav class="navbar navbar-expand-lg col-lg-9">
            <a class="navbar-brand nav-link d-none d-lg-flex text-center brand-name" href="{% url 'home' %}">
                <h4 class="my-auto">Fostoria</h4>
            </a>
            <button class="navbar-toggler navbar-light pt-0 mt-0 pb-2" type="button" data-toggle="collapse"
                data-target="#navbar-custom" aria-controls="navbar-customt" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/navbar-menu.html' %}
            {% include 'includes/nav-buttons-mobile.html' %}
        </nav>
        {% include 'includes/nav-buttons-desktop.html' %}
    </div>
</header>