<!--This is written after inspiration taken from the content of the Code Institute 
    course module Project - Boutique Ado.-->
<li class="list-inline-item dropdown pt-2">
    <!-- Button for My account section-->
    <a class="nav-link d-block d-lg-none" href="#" id="my-account" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center {% if not total %} pb-2 {% endif %}">
            <i class="fas fa-user-alt fa-lg pt-2"></i>
            <p>{% if total %}
                My account
                {% endif %}</p>
        </div>
    </a>
    <!-- Dropdown menu to My account button-->
    <div class="dropdown-menu border-0" aria-labelledby="my-account">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="#" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'register' %}" class="dropdown-item">Register</a>
        <a href="{% url 'login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<!-- Button for cart -->
<li class="list-inline-item pt-2">
    <a class="{% if total %}font-weight-bold{% else %}dark-font{% endif %} nav-link d-block d-lg-none"
        href="{% url 'cart_view' %}">
        <div class="text-center pt-1">
            <i class="fas fa-shopping-cart"></i>
            <p>{% if total %}
                £{{ total|floatformat:2 }}
                {% endif %}</p>
        </div>
    </a>
</li>