<!--This is written after inspiration taken from the content of the Code 
    Institute course module Project - Boutique Ado.-->
<div class="collapse navbar-collapse" id="navbar-custom">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Link section of the menu  -->
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="{% url 'about' %}">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-4" href="#" id="gallery-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                <a href="{% url 'all_products' %}" class="dropdown-item">All photographs</a>
                <a href="{% url 'lakes_seas' %}" class="dropdown-item">Lakes &amp; Sea</a>
                <a href="{% url 'forests' %}" class="dropdown-item">Forests</a>
                <a href="{% url 'hills' %}" class="dropdown-item">Fields &amp; Mountains</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="{% url 'contact' %}">
                Contact
            </a>
        </li>
        <!-- Search section of the manu -->
        <li class="nav-item pl-lg-5">
            <form class="form" method="GET" action="{% url 'product_search' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="e.g. tree, forest" aria-label="Search"
                        name='q'>
                    <div class="input-group-append">
                        <button class="btn tertiary-bg-color light-font" type="submit"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>