<!--This is written after inspiration taken from the content of the Code Institute course module Project - Boutique Ado.-->
<div class="collapse navbar-collapse" id="navbar-custom">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="#" id="about-link">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-4" href="#" id="gallery-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                <a href="{% url 'all_products' %}" class="dropdown-item">All photographs</a>
                <a href="{% url 'lakes_seas' %}" class="dropdown-item">Lakes &amp; Sea</a>
                <a href="{% url 'forests' %}" class="dropdown-item">Forests</a>
                <a href="{% url 'hills' %}" class="dropdown-item">Fields &amp; Mountains</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-4" href="#" id="contact-link">
                Contact
            </a>
        </li>
        <li class="nav-item pl-lg-5">
            <form class="form" method="GET" action="{% url 'product_search' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                        aria-describedby="search-box" name='q'>
                    <div class="input-group-append">
                        <button class="btn tertiary-bg-color light-font" type="submit"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </li>
    </ul>

</div>