{% extends "base.html "%}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <h4 class="dark-font">Login</h4>
    </div>
    <!-- Link to registration in case user not registered yet. -->
    <div class="row">
        <p class="text-muted small">Need an account?
            <a href="{% url 'register' %}">Register here</a></p>
    </div>
    <hr>
    <!-- Login form. -->
    <div class="col-12 pb-5">
        <form method="POST" class="pb-5 px-5">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mr-5">
                <button class="btn blue-color m-0 float-right" type="submit">Submit</button>
            </div>
        </form>
        <hr>
    </div>
</div>
{% endblock %}