{% extends "base.html "%}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <h4 class="dark-font">Your account:</h4>
    </div>

    <hr>
    <!-- Filled in user update form that allows for user to update their details -->
    <div class="row">
        <div class="col-sm-12 col-md-6 pb-5">
            <form method="POST" class="pb-5 px-5">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mr-5">
                    <button class="btn blue-color m-0 float-right" type="submit">Update</button>
                </div>
            </form>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6 pb-5">
            {% if order_line_record %}
            <!-- User orders displayed in the table -->
            <table class="w-100 table-striped table-bordered mb-5">
                <thead>
                    <tr class="text-center">
                        <th scope="col py-1">Print Name</th>
                        <th scope="col py-1">Print Size</th>
                        <th scope="col py-1">Quantity Ordered</th>
                        <th scope="col py-1">Total Price</th>
                        <th scope="col py-1">Date Ordered</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_line_record %}
                    <tr class="text-center">
                        <th scope="row">{{ item.product }}</th>
                        <th scope="row">{{ item.size }}</th>
                        <th scope="row">{{ item.quantity }}</th>
                        <th scope="row">£ {{ item.total }}</th>
                        <th scope="row">{{ item.date_ordered }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}