{% extends "base.html "%}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container my-5 mx-auto pb-5" id="page-content">

    <div class="row pt-5">
        <h4 class="dark-font">Create new account</h4>
    </div>
    <!-- Link to login in case user already registered. -->
    <div class="row">
        <p class="text-muted small">Already have an account?
            <a href="{% url 'login' %}">Login here</a></p>
    </div>
    <hr>
    <!-- Register form. -->
    <div class="row">
        <div class="col-12">
            <form method="POST" class="px-5 pb-5">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mr-5 mb-5">
                    <button class="btn blue-color m-0 float-right" type="submit">Sign up</button>
                </div>
            </form>
            <hr>
        </div>
    </div>

</div>
{% endblock %}