{% extends "base.html" %}
<!-- Customisation of page & form appearance. -->
{% load static %}
{% load crispy_forms_tags %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container mt-5 mx-auto" id="page-content">

    <div class="row pt-5">
        <div class="col-12">
            <h1 class="text-info font-weight-bold">Create new account</h1>
        </div>
    </div>
    <!-- Link to login in case user already registered. -->
    <div class="row">
        <div class="col-12">
            <p class="text-muted small">Already have an account?
                <a href="{% url 'register' %}">Login here</a></p>
        </div>
    </div>
    <hr class="border-info">
    <!-- Register form. -->
    <div class="row">
        <div class="col-12 pt-3">
            <form method="POST" class="px-4 pb-4">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-info btn-lg" type="submit">Sign up</button>
                </div>
            </form>
            <hr>
        </div>
    </div>

</div>
{% endblock %}