{% extends "base.html" %}
<!-- Customisation of page appearance. -->
{% load static %}

<!-- Page title. -->
{% block title_extension %} {% if title %}{{ title }} {% endif %} {% endblock %}

{% block content %}
<div class="container mt-5 mb-5" id="page-content">

    <div class="row pt-5">
        <h4 class="mt-4 dark-font">Basket contents:</h4>
    </div>
    {% if cart_items %}
    <!-- Displaying cart contents. -->
    <div class="row">
        <div class="col-12">
            <table class="table">
                {% for item in cart_items %}
                <tbody>
                    {% include "components/basket-contents.html" %}
                {% endfor %}
                    <tr>
                        <td colspan="2" class="w-100 text-right">
                            <p class="blue-color dark-font font-weight-bold py-2 pr-5">Total: £{{ total }} </p>
                        </td>
                    </tr>
                    <!-- Button allowing to start proceeding with checkout. -->
                    <tr>
                        <td colspan="2" class="w-100 text-right pb-5">
                            <a class="btn p-2 border-info btn-dark btn-lg p-2" href="{% url 'delivery' %}">
                                <span id="checkout-btn-text" class="light-font">Checkout</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <!-- Displaying info that cart/basket is empty. -->
    <div class="row my-5 py-4">
        <div class="col-12 pt-4 text-center">
            <p class="blue-color p-2 mx-auto font-dark rounded">Your basket is empty.</p>
        </div>
        <div class="col-12 py-5"><a href="{% url 'all_products' %}">
                <p class="btn border border-dark rounded back-btn">Keep browsing</p>
            </a></div>
    </div>
    {% endif %}

</div>
{% endblock %}