{% extends "base.html "%}
{% load static %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <h4 class="mt-4 dark-font">Basket contents:</h4>
    </div>
    {% if cart_items %}
    <div class="row"></div>
    {% else %}
    <div class="row my-5 py-4">
        <div class="col-12 pt-4 text-center">
            <p class="blue-color p-2 mx-auto font-dark rounded">Your basket is empty.</p>
        </div>
        <div class="col-12 py-5"><a href="{% url 'all_products' %}"><p class="btn border border-dark rounded back-btn">Keep browsing</p></a></div>
    </div>
    {% endif %}
</div>


{% endblock %}