<!-- FAQ accordion. --> 
<div class="row mx-auto pt-5">
    <div class="col-12">
        <h4>Frequently Asked Questions (FAQ)</h4>
    </div>
    <div class="accordion opacity" id="accordion-faq">
        <div class="card opacity">
            <div class="card-header opacity" id="faq-heading-1">
                <h2 class="mb-0 blue-font">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-collapse-1"
                        aria-expanded="false" aria-controls="faq-collapse-1">
                        What sizes of photo prints are available?
                    </a>
                </h2>
            </div>

            <div id="faq-collapse-1" class="collapse show opacity" aria-labelledby="faq-heading-1"
                data-parent="#accordion-faq">
                <div class="card-body opacity">
                    <p>All photos can be purchased in 5 different sizes. They are sold in standard paper sizes -
                        the smallest - A3 which is twice the size of the commonly used A4 paper.
                        Each size after that is twice as big as the one before.
                    </p>
                    <ul class="list-unstyled mx-auto">
                        <li>Size A3 <i class="fas fa-arrow-right"></i> 29.7 x 42.0 cms | 11.7 x 16.5 inches</li>
                        <li>Size A2 <i class="fas fa-arrow-right"></i> 42.0 x 59.4 cms | 16.5 x 23.4 inches </li>
                        <li>Size A1 <i class="fas fa-arrow-right"></i> 59.4 x 84.1 cms | 23.4 x 33.1 inches</li>
                        <li>Size A0 <i class="fas fa-arrow-right"></i> 84.1 x 118.9 cms | 33.1 x 46.8 inches</li>
                        <li>Size 2A0 <i class="fas fa-arrow-right"></i> 118.9 x 168.2 cms | 46.8 x 66.2 inches</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card opacity">
            <div class="card-header opacity" id="faq-heading-2">
                <h2 class="mb-0 blue-font">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-collapse-2"
                        aria-expanded="false" aria-controls="faq-collapse-2">
                        How fast will I get my order?
                    </a>
                </h2>
            </div>
            <div id="faq-collapse-2" class="collapse opacity" aria-labelledby="faq-heading-2"
                data-parent="#accordion-faq">
                <div class="card-body opacity">
                    Most prints are dispatched next working day except bank holidays (Monday-Friday) using Royal Mail
                    1st Class service - within UK.
                    For overseas deliveries - there is currently offer of a delivery to any EU country with aim to be
                    delivered within 7 working days.
                    Delivery outside EU is not currently offered - apologies for the inconvenience.
                </div>
            </div>
        </div>
        <div class="card opacity">
            <div class="card-header opacity" id="faq-heading-3">
                <h2 class="mb-0 blue-font">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-collapse-3"
                        aria-expanded="false" aria-controls="faq-collapse-3">
                        What types of payements do you accept?
                    </a>
                </h2>
            </div>
            <div id="faq-collapse-3" class="collapse opacity" aria-labelledby="faq-heading-3"
                data-parent="#accordion-faq">
                <div class="card-body opacity">
                    All major credit and debit cards are accepted.
                </div>
            </div>
        </div>
        <div class="card opacity">
            <div class="card-header opacity" id="faq-heading-4">
                <h2 class="mb-0 blue-font">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-collapse-4"
                        aria-expanded="false" aria-controls="faq-collapse-4">
                        What paper is used for prints?
                    </a>
                </h2>
            </div>
            <div id="faq-collapse-4" class="collapse opacity" aria-labelledby="faq-heading-4"
                data-parent="#accordion-faq">
                <div class="card-body opacity">
                    Prints are made on high quality photo paper. There are currently no prints on canvas, t-shirts etc.
                    on offer.
                </div>
            </div>
        </div>
    </div>
</div>