<!-- Index page carousel -->
<div id="index-carousel" class="carousel slide mt-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#index-carousel" data-slide-to="1"></li>
        <li data-target="#index-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item index-carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item index-carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-image"></div>
        </div>
        <div class="carousel-item index-carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-image"></div>
        </div>
    </div>
</div>