{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Basic 404 error page, with button linked to homepage -->
<div class="container mt-5 mb-5">
    <div class="row py-5">
        <div class="col-12 pt-5 text-center">
            <h1 class="font-weight-bold">This page doesn't exist.</h1>
        </div>
    </div>
    <div class="row py-5 mb-5">
        <div class="col-12 text-center pb-5 mb-5">
            <a class="btn p-2 btn-info btn-lg p-2" href="{% url 'home' %}">
                <span class="light-font">Return</span></a>
        </div>
       
    </div>
</div>
{% endblock %}