<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        <!-- Page title section -->
        <title>Fostoria -{% block title_extension %}{% endblock %}</title>
    </head>

<body>
    {% include 'includes/header.html' %}

    
    {% block content %}
    {% endblock %}
    
    {% include 'includes/top-footer-sec.html' %}
    {% include 'includes/footer.html' %}
    {% include 'includes/scripts.html' %}

    {% load sweetify %}
    {% sweetify %}
</body>

</html>