@import url("https://fonts.googleapis.com/css2?family=Galada&family=Lato&display=swap");
/* Variables */
/* Page body */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #fdfdff;
  color: #000;
  font-family: 'Lato', sans-serif;
}

/* Background and font classes */
.light-font {
  color: #fff;
}

.dark-font {
  color: #000;
}

.secondary-bg-color {
  background-color: #CFEEFA;
}

.tertiary-bg-color {
  background-color: #393d3f;
}

/* Navbar */
#nav-row {
  background-color: #fdfdff;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color:#5bc0de;
}

.brand-name {
  font-family: 'Galada', sans-serif;
}

/* Index page carousel */
.index-carousel-item {
  height: 72vh;
  width: 100vw;
}

#carousel-img-1 {
  background-image: url("https://i.ibb.co/9pdgkTY/LF6.jpg");
  background-position: center center;
}

#carousel-img-2 {
  background-image: url("https://i.ibb.co/613FSYx/CN7.jpg");
  background-position: center center;
}

#carousel-img-3 {
  background-image: url("https://i.ibb.co/hR8qmyX/MUS4.jpg");
  background-position: center 80%;
}

.carousel-image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Index page small images */
#index-sm-img1 {
  background-image: url("https://i.ibb.co/6WLwTZp/INSTA24.jpg");
  background-position: center center;
}

#index-sm-img2 {
  background-image: url("https://i.ibb.co/5vmqtkj/INSTA17.jpg");
  background-position: center center;
}

#index-sm-img3 {
  background-image: url("https://i.ibb.co/jWSsRYz/INSTA23.jpg");
  background-position: center center;
}

.index-sm-image {
  height: 10em;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-icon {
  font-size: 1.5rem;
}

#about-box {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0 0 0 / 62%)), to(rgba(0, 0, 0, 0.3))), url("https://i.ibb.co/yBPDZDx/about.jpg");
  background-image: -o-linear-gradient(rgb(0 0 0 / 62%), rgba(0, 0, 0, 0.3)), url("https://i.ibb.co/yBPDZDx/about.jpg");
  background-image: linear-gradient(rgb(0 0 0 / 62%), rgba(0, 0, 0, 0.3)), url("https://i.ibb.co/yBPDZDx/about.jpg");
  min-height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opacity {
  background-color: rgba(255, 255, 255, 0);
}

.btn-link:hover {
  text-decoration: none;
}

#checkout-btn-text {
  letter-spacing: 2px;
}

.footer-text, .fab {
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  #qty-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-text, .fab {
    font-size: 0.55rem;
  }
  #top-footer-left,
  #bottom-footer-left,
  #bottom-footer-right,
  #cart-item-details {
    text-align: center !important;
  }
  #top-footer-right {
    text-align: center !important;
    padding-bottom: 1.2rem;
  }
  #search-page-content {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-text, .fab {
    font-size: 0.55rem;
  }
  #top-footer-left,
  #bottom-footer-left,
  #bottom-footer-right {
    text-align: center !important;
  }
  #top-footer-right {
    text-align: center !important;
    padding-bottom: 1.2rem;
  }
  #search-page-content {
    padding-top: 2rem;
  }
}